<template>
  <div>
    <h1>Digital iko Tema</h1>
    <div class="name-meaning">
      <p>
        <a href="https://pt.wikipedia.org/wiki/L%C3%ADngua_guarani">Guarani</a>
        :
        <a href="http://www.geocities.ws/indiosbr_nicolai/dooley/ptgn.html">
          -iko tema → {{ data['name translation'] }}
        </a>
      </p>
      <p>{{ data.moto }}</p>
    </div>
  </div>
</template>
