@import './vars.scss';

@mixin only-small {
    @media only screen and (max-width: ($breakpoint-lg - 1)) {
        @content;
    }
}

@mixin only-large {
    @media only screen and (min-width: ($breakpoint-lg)) {
        @content;
    }
}

@font-face {
    font-family: 'NunitoSansExtraLight';
    src: url('../assets/fonts/nunito-sans/NunitoSans-ExtraLight.woff') format('woff'),
        url('../assets/fonts/nunito-sans/NunitoSans-ExtraLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NunitoSansLight';
    src: url('../assets/fonts/nunito-sans/NunitoSans-Light.woff') format('woff'),
        url('../assets/fonts/nunito-sans/NunitoSans-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body, #app {
  height: 100%;
}
#app {
  font-family: NunitoSansLight, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $fg-color;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body {
  margin: 0;
}

h1, h2, h3 {
  font-weight: normal;
}

h2 {
  font-size: 24pt;
  text-transform: capitalize;
  margin-bottom: .25rem;
}
h3 {
    font-size: 20pt;
}

a {
  color: $link-color;
  text-decoration: none;
  svg > * {
    stroke: $link-color;
  }
  &:hover, &:focus {
    svg > * {
      stroke: $hover-color;
    }
  }
}

.inv-color > svg > * {
    stroke: white !important;
    stroke-width: 1px;
    &:hover, &:focus {
        stroke: white !important;
    }
}


a {
  margin: .1rem;
  display: inline-block;
  &:hover, &:focus {
    color: $hover-color;
  }
}
a[disabled] {
  opacity: 0.5;
  pointer-events: none;
  &:hover, &:focus {
      color: $link-color !important;
  }
}

span > svg {
    height: 100%;
    width: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
}

svg {
    vertical-align: middle;
    stroke-width: $line-width;
    fill: rgba(0,0,0,0);
    // Feather icon values
    stroke-linecap: round;
    stroke-linejoin: round;
}

.unclickable {
    pointer-events: none;
}

.icon {
    display: inline-block;
    margin: 0;
    height: $icon-size;
    width: $icon-size;
}

a, a > span, svg > *, category-title {
    transition: all .5s ease;
    transition-property: color, border, stroke, background-color;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity 1s;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}
.fade-fullscreen-img-enter, .fade-fullscreen-img-leave-to {
    opacity: 0;
}

.section-links {
    margin-left: 1rem;
}
.main-menu, .main-menu > a, .section-links, .section-links > a, .lang-menu {
    display: inline-flex;
    align-items: center;
    svg {
        vertical-align: unset;
    }
}
.section-anchor {
    height: 3rem;
    display: block;
}
.lang-menu {
  font-size: 14pt;
  svg > * {
    stroke: #c8c8c8;
  }
  a {
    margin: 0.2rem;
  }
}
.top-menu {
  display: flex;
  flex-direction: row-reverse;
  padding: 1rem;
  padding: .5rem 1rem;
  position: fixed;
  background-color: rgba(255,255,255, .8);
  width: 100%;
  border-bottom: solid 1px $ultra-light-color;
  z-index: 10;
  justify-content: space-between;
  box-sizing: border-box;
}

footer {
  color: $fg-faded-color;
  font-size: 10pt;
  margin-top: 4rem;
  border-top: solid 1px $ultra-light-color;
  padding: 1rem 0 .5rem 0;
  .icon {
    height: 1rem;
    width: 1rem;
  }
  span {
    margin: 0 .5rem;
  }
  @include only-small {
      display: flex;
      flex-direction: column;
  }
}
.meta-info {
  display: inline-block;
}

.no-border {
    border: none;
}

.simple-icon > * {
    stroke: $fg-faded-color;
}

img[lazy=loading] {
    max-height: 6rem;
    max-width: 6rem;
    border: none;
}
img[lazy=error] {
    display: none;
}
