@import './vars.scss';
@import './base.scss';

img {
  width: 100%;
  max-width: 15rem;
  // max-height: 20rem;
  border: solid $line-width $ultra-light-color;
}
.project-img {
  transition: all .2s linear;
  display: block;
  margin: 2rem auto;
  &:hover, &:focus {
    filter: drop-shadow(3px 3px 3px $shadow);
  }
}
.blocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.block {
  @include only-large {
    border: solid $link-color 1px;
  }
  max-width: 30rem;
  margin: 1rem;
  padding: 2rem 3rem;
  background-color: rgba(255,255,255,1);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-around;
  h3 {
    margin-top: 0;
  }
}
.personal-block {
  margin: 2rem auto;
  font-size: 14pt;
  max-width: 50rem;
}
.compact-links {
  display: inline-block;
  &+.compact-links:before {
    margin: .2rem;
  }
}
li.tech {
  display: inline-block;
  margin: .1rem;
  font-size: 11pt;
  color: $fg-faded-color;
}
.separator-between+.separator-between:before {
  content: "•";
  color: $fg-faded-color;
}
.background {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255,255,255,0.7);
  /* background-color: rgba(0,0,0,0.7); */
  background-position: center;
  z-index: -1;
}
.background-image {
  background-color: #003c77;
  // background-image: url('../assets/bfundo3.jpg');
  background-size: cover;
}
.person-pic {
  border-radius: 20rem;
  transition: all 1s;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
}
.personal-picture {
  margin: auto;
  height: 10rem;
  width: 10rem;
  position: relative;
}
.award-icon {
  height: 2rem;
  width: 2rem;
}
.category-title {
  width: 100%;
  background-color: $link-color;
  // box-shadow: 0px 2px 2px $shadow;
  border-bottom: solid 2px darken($link-color, 10);
  // border-bottom: solid 2px fade-out($link-color, 1);
  margin: 1rem 0 !important;
  &:hover, &:focus {
    background-color: $hover-color;
    border-bottom: solid 2px darken($hover-color, 20);
  }
  h2 {
    color: white;
    margin: .6rem 0;
  }
  .icon {
      width: 2rem;
      height: 2rem;
      margin-right: 0.5rem;
      svg {
        vertical-align: sub;
      }
  }
}

.paper-item {
    text-align: left;
    max-width: 50rem;
    margin: 1rem auto;
    /* border: solid 1px $ultra-light-color; */
    border: solid 1px $link-color;
    transition: border .2s;
    font-size: 14pt;
    a {
        margin: 0;
        border: none;
        display: block;
        padding: .5rem;
        &:hover, &:focus {
            border: none;
        }
    }
    &:hover, &:focus {
        border: solid 1px $hover-color;
    }
}

.fullscreen-img-background {
    z-index: 99;
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
}
.fullscreen-img {
    position: fixed;
    // height: 100vh;
    // width: 100vw;
    z-index: 100;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    // right: 0;
    // bottom: 0;
}
