$fg-color: #2c3e50;
$fg-faded-color: fade-out($fg-color, .5);
$link-color: #42b983;
$icon-size: 1.5rem;
$img-border: grey;
$hover-color: #0e7244; //$fg-color; //#0b6b3f; //green; //lighten($img-border, 20);
$shadow: rgba(0,0,0,.5);
$line-width: 1.5px;
$ultra-light-color: #e6e6e6;

$breakpoint-lg: 800px;
